* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
}

a{
    color: #fff;
}

body[dark]{
    background-color: #323232;
    color: white;
}
body[dark] a{
    color: white;
}

body[dark] .nav-link{
    color: #fff!important;
}

body[dark] .top-nav-button-custom {
    color: white;
    border-color: white;
}

body[dark] .acessibilidade{
    background: #323232;
}

body[dark] header a:hover {
    color: #323232!important;
}

body[dark] .acess:hover {
    color: #fe8894!important;
}

body[dark] footer{
    background: #fe8894;
}

body[dark] footer a:hover{
    background: #a85b62;
}

body {
    padding-top: 8.0rem;
    width: 100%;
    height: 100vh;    
}

header{
    border-bottom: 1px solid #fff;
}


footer{
    background: #b881fc;
    color: #fff;
    
}

.acessibilidade{
    background: #fff;
}

.navbar-custom{
    font-size: 1.3rem;
    color: #fff!important;
}

.h2, h2{
    font-size: 1.5rem;
}

.font{
    font-size: 1.25rem;
    font-weight: 300;
}

.nav-custom{
    padding: 1.2rem 1rem;
}

.top-nav-custom{
    padding: 0.5rem 0rem;
    justify-content: space-around;
}

.top-nav-button-custom{
    padding: 0;
    font-size: 1rem;
    color: #fff!important;
    background: #b881fc;
    border-color: #fff;
}

.top-nav-button-li-custom{
    width: 70px;
}

#input-dark-mode{
  width: 30px;
  height: 20px;

}

.nav-item{
    padding: 0px 10px;
}

.nav-link{
    color: default;
}

.navbar-brand img{
    width: 100px;
    height: 100px;
}

.radio-contraste{
    cursor: pointer;
}
 
.banner {
    padding: 0;
    width: 100%;
}
.banner-img {
    width: 100%;
}

.img-padding{
    padding-top: 20px;
    width: 100%;
} 

iframe{
    width: 100%;
    height: 500px;
}

.align{
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}

.centralizado{
    display: flex;
    align-items: center;
    justify-content: center;
}

.law{
    background: #b881fc;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
    padding: 15px;
}

.square{
    box-shadow: 0 10px 30px rgb(0 0 0 / 15%);
	border-radius: 15px;
    background: rgb(255 255 255 / 5%);
    margin: 15px;
}

.paddingBx{
    padding: 1.0rem!important;
}


.paddingBx i{
    padding-right: 10px;
    font-size: 2rem;
}

.bg-dark {
    background-color: #b881fc!important;
}

body[dark] .bg-dark{
    background-color: #fe8894!important;
}

body[dark] .law{
    background-color: #fe8894;
}


body[dark] .btn-dark{
    background-color: #fe8894!important;
    border-color: #fe8894!important;
}

body[dark] .top-nav-button-custom{

    color: #000!important;
    background: #fe8894!important;
    border-color: #000!important;
}


body[dark] .btn-dark:hover{
    background-color: #a85b62!important;
    border-color: #a85b62!important;
}

.btn-dark {
    color: #fff;
    background-color: #b881fc!important;
    border-color: #b881fc!important;
    border-radius: 30px;
}

.btn-custom{
    height: 4rem;
    width: 150px;
    font-size: 1.3rem;
    text-align: center;
}

header a:hover {
    color: #9749f7!important;
}

footer a:hover {
    background: #9749f7;
    color: #fff;
    text-decoration: underline;
    border-radius: 30px;
}

.btn-dark:hover{
    background: #9749f7!important;
    color: #fff;
}

.custom-chekbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar{
    border-radius: 30px;
    background: #b881fc;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}

i{
    padding-right: 10px;
}
/* #FCE79A */

@media (max-width: 994px){
    .even{
        flex-flow: column-reverse;
    }
}